.wrap-header {
  color: var(--cl-white);
  height: var(--height-header);
  position: fixed;
  z-index: var(--z-index-main-header);

  .wrap-logo {
    user-select: none;
  }

  .wrap-user {
    color: black;
    width: 50px;
    height: 44px;
  }
}
