.wrap-header {
  color: var(--cl-white);
  height: var(--height-header);
  position: fixed;
  z-index: var(--z-index-main-header);
  border-bottom: 1px solid #F2F2F2;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  .wrap-logo {
    user-select: none;
  }
}
